---
const personalImageAlt = "Cristina Correa";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-fuchsia-500 dark:[&>p>strong]:text-fuchsia-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Cristina Correa, though most of my friends call me Cris.
      Currently, I am in my
      <strong>final year</strong> of the <strong
        >BSc. (Hons) in Computer Systems Engineering</strong
      > at the <strong>University of Sunderland</strong>, where I've had the
      opportunity to lead development teams across a variety of exciting
      projects.
    </p>

    <p>
      I'm predicted to graduate with <strong>first-class honours</strong> and throughout
      my studies, I've combined academic rigour with hands-on experience. One of
      my proudest moments was receiving the <strong
        >Society Committee Member of the Year award from Sunderland Students'
        Union</strong
      >. As President of the Developers Society, I've led initiatives like the
      Machine Learning Paper Reading Club and the A Space 2 Grow website.
    </p>

    <p>
      Beyond university, I actively contribute to open source projects,
      including the <strong>Gemini Cookbook by Google DeepMind</strong>, helping
      make cutting-edge tools more accessible to developers worldwide. I'm also
      involved in <strong>bioinformatics research</strong>, where I explore how
      data and biology intersect to solve real-world problems.
    </p>

  </div>

  <img
    width="200"
    height="200"
    src="/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-fuchsia-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>